[Desktop Entry]
Version=1.0
Type=Application
Name=GParted-launch
GenericName=Partition Editor
Comment=Select disk
Exec=/home/vogel/bin/gparted-launch
Icon=gparted
Terminal=false
Categories=System;GTK;
Keywords=partition;disk;drive;format;
